html
{
  scroll-behavior: smooth;
}

body
{
	font-family: 'Montserrat', sans-serif;
	background-color: #F2F1EB;
  	background-image: url('images/facemesh-side.png');
  	background-repeat:no-repeat;
  	background-position: center left;
 
}
h1
{
	font-size: 8vw;
	line-height: 0em;
	padding-top: 5px;
}

.highlight a
{
	color: black;
	text-decoration: none;
  	display: inline-block;
  	padding: 10px 20px;
  	position: relative;
}

.highlight a
{
	background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, black 50%);
	background-position: -0% 0;
  	background-size: 200% auto;
  	line-height: 8vw;
   	text-decoration-color: transparent;
  	transition: background-position 0.5s ease-out;
}
.highlight a:hover
{
	background-position: -99.99% 0;
 	color: #F2F1EB;
}
.footer
{
	background-color: black;
	left:0;
	bottom:0;
	width:100%;
	color:white;
	text-align:center;
	padding-bottom:1px;
}
.fa
{
  padding: 10px;
  font-size: 30px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover
{
    opacity: 0.7;
}
.fa-linkedin
{
  background: #007bb5;
  color: white;
}
.fa-github
{
  background:#6e5494;
  color: white;
}
.fa-envelope
{
  background:#0072C6;
  color: white;
}
.fa-mobile
{
  background:#c2065e;
  color: white;
}

.profile a
{
	font-size: 12px;
	text-decoration:none;
	color: white;
}
.profile a:hover
{
	text-decoration:none;
	background-color:#F2F1EB;
	color:black;
}
.static
{
	position:absolute;
	background:white;
}
.static:hover
{
	opacity:0;
}

